/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.blue-text {
    color: blue;
}

.center-align {
    text-align: center;
}